.custom-select {
    font-size: 1.4rem !important;
}

.user-heading {
    font-size: 3rem !important;
}

.submenu {
    padding: 0 !important;
}

.submenu li {

    display: inline-block;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.form-inline {
    display: inline-flex;
}

.page-header-inner {
    width: 100vw !important;
}
.pt-0{
    padding-top: 0 !important;
}
.pt-1{
    padding-top: 10px !important;
}
.pt-2{
    padding-top: 20px !important;
}
.pt-3{
    padding-top: 30px !important;
}
.pt-4{
    padding-top: 40px !important;
}
.pt-5{
    padding-top: 50px !important;
}
.pb-0{
    padding-bottom: 0 !important;
}
.pb-1{
    padding-bottom: 10px !important;
}
.pb-2{
    padding-bottom: 20px !important;
}
.pb-3{
    padding-bottom: 30px !important;
}
.pb-4{
    padding-bottom: 40px !important;
}
.pb-5{
    padding-bottom: 50px !important;
}
.py-0{
    padding: 0 0 !important;
}
.py-1{
    padding: 10px 0 !important;
}
.py-2{
    padding: 20px 0 !important;
}
.py-3{
    padding: 30px 0 !important;
}
.py-4{
    padding: 40px 0 !important;
}
.py-5{
    padding: 50px 0 !important;
}
.m-0{
    margin: 0;
}
.my-1{
    margin: 10px 0;
}

.btn-outline-primary{
    background: transparent;
    border: 1px solid #357ebd;
    color: #357ebd;

}
.rounded{
    border-radius: 3px !important;
}
table.table.table-striped tbody tr, table.table.table-striped thead {
    background: white;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    color: #444;
}
nav.data-table-pagination {
    float: right;
}
thead.tablenav.top {
    background: transparent !important;
}
thead.tablenav.top th {
    vertical-align: bottom;
    padding: 0;
    padding-bottom: 4px;
}
th.checkbox-stripe{
    width: 50px;
}
th.addnewsss {
    width: 67%;
}
td.search-tb-data {
    width: 25%;
}
ul.submenu.subsubsub {
    margin-left: 5px;
}
thead.tablenav.top button{
    font-size: 10px;
}
thead.tablenav.top select{
    font-size: 10px;
}
thead.tablenav.top .page-link {
    font-size: 10px;
    background: transparent;
    margin: 0 2px;
}
table.table.table-striped th {
    font-size: 13px;
    font-weight: 200;
}
/*....................... add new page..................................... */
.add-page button.preview-action{
    float: right;
}
.major-publishing-actions {
    padding: 10px;
    clear: both;
    border-top: 1px solid #ddd;
    background: #f5f5f5;
}
.portlet.box.grey {
    border: 1px solid #ddd;
    border-top: 0;
    background: #f5f5f5;
}
.portlet.box.grey > .portlet-title {
    background-color: transparent;
}
#pageparentdiv select{
    width: 90%;
}
.postbox-container table {
    width: 100%;
}
.row.postbox-container select, .row.postbox-container .input-group{
    width: 98%;
}
.row.postbox-container th {
    text-align: center;
}
.input-group.titlewrap {
    width: 100%;
}
.seo-limit .form-control{
    width: 10%;
    display: inline;
}

li.form-item.form-group.firstname.mandatory {
    width: 50%;
    display: inline-block;
}
li.form-item.form-group.lastname.mandatory {
    width: 50%;
    float: right;
}

.form-control {
    border-radius: 5px !important;
    height: calc(1.6em + 0.75rem + 10px) !important;
    font-size: 1rem !important;
}

.categories{
    height: 294px !important;
}
